@model StudentModel
@{
    ViewData["Title"] = "StudentProfile";
}

<h1>StudentProfile</h1>
<table border="1">
    <tr>
        <td>Name</td>
        <td>@Model.StudentName</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>@Model.PhoneNUmber</td>
    </tr>

</table>

